/AMSS_FP/nbproject/private/
/AMSS_FP/build/
/Primo/nbproject/private/
/AMSS_FP/dist/
/DonaNoTeDesesperes/nbproject/private/
/DonaNoTeDesesperes/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/