/AMSS_FP/nbproject/private/
/AMSS_FP/build/
/Primo/nbproject/private/
/AMSS_FP/dist/
/DonaNoTeDesesperes/nbproject/private/
/DonaNoTeDesesperes/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/KeyGen/nbproject/private/
/KeyGen/build/
/MatematicasComputacionales/nbproject/private/
/MatesComput/nbproject/private/
/MatesComput/build/
/ProyectoJorge/nbproject/private/
/ProyectoJorge/build/
/ProyectoJorge/dist/